@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
			margin: 0px;
			padding: 0px;
		}
		p{
			text-align: left;
			font-size:15px;
			font-family: arial,"microsoft yahei";
			line-height: 30px;
		}
		span{
			font-family:arial,"microsoft yahei";
			font-size:28px;
			text-align: left;
			text-transform: uppercase;
		}
		a{
			font-family: "Oswald";
    		font-size: 15px;
    		font-weight: 800;
    		letter-spacing: 1px;
			color: white;
			text-decoration: none;
		}
		li{
			float: left;
			list-style: none;
		}
		h1{
			font-family: "Oswald";
			font-weight: 400;
    		font-size: 70px;
    		line-height: 85px;
			letter-spacing: 10px;
    		color: #fff;
    		text-transform: uppercase;
		}
/*头部样式====================================================*/
		header{
			height: 763px;
			background-image: url(../images/5000sdf576874.jpg);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-attachment: fixed;
		}
		.ht_nav{
			height: 44px;
			background-color: brown;
			box-shadow: 0px 8px 20px #000;
			padding: 10px 140px;
			box-sizing: border-box;
		}
		.ht_nav img{
			width: 26px;
			float: right;
			margin-left: 15px;
		}
		.box{
			width: 100px;
			height: 752px;
			background-color: #313131;
			border: #000000 solid 2px;
			position: absolute;
			top: 0px;
			right: 0px;
			visibility: hidden;
			-webkit-backface-visibility:hidden; 
			 transition:0.5s ease-in-out;
		}
		.h_touch:hover .box{
			visibility: visible;
		}
		.hb_wrapper{
			width: 85%;
			height: 763px;
			margin: 0px auto;
		}
		.hb_logo img{
			width: 3%;
			margin-top: 38px;
			margin-left: 13%;
			float: left;
		}
		.hb_nav{
			width: 713px;
			line-height: 40px;
			float: right;
			margin-top: 41px;
		}
		.hb_nav li{
			margin-right: 20px;
			margin-left: 20px;
		}
		.hb_nav>img{
			position: absolute;
			margin-top: 2%;
		}
		.hb_nav a:hover{
			color: aqua;
			transition-duration: 0.3s;
			padding-bottom: 8px;
			border-bottom: aqua solid 2px;
		}
		.hb_title{
			width: 80%;
			height: 400px;
			position: absolute;
			top: 44%;
			left: 50%;
			margin-left: -39%;
			text-align: center;
		}
		.hb_title span{
			letter-spacing: 12px;
			color: antiquewhite;
		}
		.hb_title input{
			width: 180px;
			margin-top: 40px;
			box-sizing: border-box;
			color: #B7B7B7;
			outline: medium;
			border: #FFFFFF solid 2px;
			border-radius: 50px;
			padding: 10px;
			background:none;
			transition-duration: 0.8s;
		}
		.hb_title input:focus{
			width: 300px;
		}
		.h_guide{
			margin-top: 60px;
		}
/*中部样式====================================================*/
		
/*内容一 =====================================================*/
		.s_partition{
			width: 100%;
			height: 214px;
			background-color:#212535;
			padding: 36px;
			box-sizing: border-box;
		}
		.s_partition h2{
			width: 300px;
			font-family: NokiaPureHeadline;
			font-size: 45px;
			color: white;
			line-height: 140px;
			margin-left: 150px;
			display: inline;
		}
		.s_partition p{
			width: 48%;
			height: 40px;
			float: right;
			line-height: 140px;
			font-family: NokiaPureHeadline;
			font-size: 20px;
			color: white;
			display: inline-block;
		}
		.content{
			height: 600px;
			background-image: url(../images/4698802.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-attachment: fixed;
			position: relative;
			overflow: hidden;
		}
		.content_box{
			width: 500px;
    		height: 598px;
			background-image: url(../images/ChMkJ1bOYTiIVuqcAAFovAYCo3kAALh1wKf66QAAWjU149.png);
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: 7%;
			left: 31%;
		}
		.cb_Accordion{
			width: 55%;
    		height: 100%;
    		background-color:white;
    		margin-top: 16%;
    		margin-left: 31.9%;
			border: #2D2D2D solid 2px;
			border-radius: 5px;
		}
		.cb_Accordion>ul{
			width: 100%;
			height: 100%;
		}
		.cb_Accordion a{
			display: block;
			margin-left: 25px;
			margin-top: 5px;
		}
		.cb_Accordion a:hover{
			color: cornflowerblue;
			text-decoration: underline;
		}
		.box1{
			width: 100%;
			height: 15%;
			color: antiquewhite;
			background-color: #620808;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		
		.box2{
			width: 100%;
			height: 15%;
			background-color: #a53f3f;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.box3{
			width: 100%;
			height: 15%;
			background-color: #f4ce74;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.box4{
			width: 100%;
			height: 15%;
			background-color: #ffe9c1;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.box5{
			width: 100%;
			height: 15%;
			background-color: #d5441c;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.box6{
			width: 100%;
			height: 15%;
			background-color:#F6CBB8;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.box7{
			width: 100%;
			height: 15%;
			background-color:#DCA0CF;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.box8{
			width: 100%;
			height: 15%;
			background-color:#DABD8D;
			transition-duration: 1s;
			border-top: #000000 solid 2px;
			box-shadow: 6px 6px 60px #000;
			outline: medium;
			padding: 8px;
			box-sizing: border-box;
		}
		.cb_Accordion ul:hover li{
			height: 8%;
		}
		.cb_Accordion>ul>li:hover{
			height: 60%;
		}
		.cb_Accordion img{
			width: 25px;
		}
/*内容二 =====================================================*/
		.left{
			float: left;
			width: 13%;
			height: 41px;
			background-color: rgb(241, 241, 241);
		}
		.main{
			width: 74%;
			height: 800px;
			display: inline-block;
			margin-bottom: 20px;
		}
		.main nav{
			width: 100%;
			height: 41px;
			background-color: rgb(241, 241, 241);
			margin-bottom: 20px;
		}
		.main_nav{
			float: right;
			margin-right: 60px;
		}
		.main_nav>li{
			padding-left: 20px;
			padding-right: 20px;
			line-height: 41px;
			margin-left: 20px;
		}
		.main_nav>li:hover{
			background-color: white;
		}
		.main_substance li{
			width: 50%;
			height: 373px;
		}
		.main_substance li div{
			font-family: 微软雅黑;
    		padding: 3.5em;
    		vertical-align: middle;
    		width: 48%;
			font-size: 20px;
		}
		.main_substance img{
			width:100%;
			height: 100%;
		}
		.right{
			float: right;
			width: 13%;
			display: inline-block;
			height: 41px;
			background-color: rgb(241, 241, 241);
		}
		
.
